xcschememanagement.plist
Build/Targets/x86-microsoft-win32-vs2010/Atomix/Debug/
Build/Targets/x86-microsoft-win32-vs2010/Atomix/Release/
Build/Targets/x86-microsoft-win32-vs2015/Atomix.VC.db
Build/Targets/x86-microsoft-win32-vs2015/.vs/
Build/Targets/x86-microsoft-win32-vs2015/Atomix/Debug/Atomix.Build.CppClean.log
*.idb
Build/Targets/x86-microsoft-win32-vs2015/Atomix/Debug/
Build/Targets/x86-microsoft-win32-vs2015/Atomix/Release/
Build/Targets/x86-microsoft-win32-vs2015/ContainersTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/ContainersTest/Release/
Build/Targets/x86-microsoft-win32-vs2015/Debug/
Build/Targets/x86-microsoft-win32-vs2015/FilesTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/FilesTest/Release/
Build/Targets/x86-microsoft-win32-vs2015/HttpTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/HttpTest/Release/
Build/Targets/x86-microsoft-win32-vs2015/InterfacesExample/Debug/
Build/Targets/x86-microsoft-win32-vs2015/InterfacesExample/Release/
Build/Targets/x86-microsoft-win32-vs2015/JsonTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/JsonTest/Release/
Build/Targets/x86-microsoft-win32-vs2015/LoggingTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/LoggingTest/Release/
Build/Targets/x86-microsoft-win32-vs2015/MiscTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/MiscTest/Release/
Build/Targets/x86-microsoft-win32-vs2015/NetPump/NetPump.vcxproj.user
Build/Targets/x86-microsoft-win32-vs2015/NetPump/Debug/
Build/Targets/x86-microsoft-win32-vs2015/NetPump/Release/
Build/Targets/x86-microsoft-win32-vs2015/PropertiesTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/PropertiesTest/Release/
Build/Targets/x86-microsoft-win32-vs2015/Release/
Build/Targets/x86-microsoft-win32-vs2015/RingBufferTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/RingBufferTest/Release/
Build/Targets/x86-microsoft-win32-vs2015/StringsTest/Debug/
Build/Targets/x86-microsoft-win32-vs2015/StringsTest/Release/
